.card {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.main-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.thumbnails {
  display: flex;
  gap: 6px;
  margin: 10px 0;
}

.thumb {
  width: 50px;
  height: 50px;
  cursor: pointer;
  object-fit: contain;
}
.thumb:hover {
  border: 1px solid #50b5ff;
  border-radius: 10px;
}
.price {
  font-weight: bold;
  margin: 10px 0;
  font-size: 18px;
}

.rating {
  color: #ff9800;
}

.category {
  display: inline-block;
  background: #2196F3;
  color: white;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button {
  cursor: pointer;
  padding: 6px;

}
.wats{
  background: #7add6c;
  border-radius: 12px;
}

.tg{
  background: #4eaddf;
  border-radius: 12px;
}
