* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
}

.page {
    display: flex;
    min-height: 100vh;
}

/* LEFT */
.left {
    width: 60%;
    padding: 60px;
}

.insta-icon {
    width: 40px;
    margin-bottom: 30px;
}

.left h1 {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 40px;
}

.left h1 span {

        font-size: 34px;
        font-weight: bold;

        background: linear-gradient(45deg,
        #FEDA75,
        #FA7E1E,
        #D62976,
        #962FBF,
        #4F5BD5
        );

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.mockup {
    align-content: space-evenly;
    width: 400px;
}

/* RIGHT */
.right {
    width: 40%;
    border-left: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    width: 320px;
    text-align: center;
}

.login-box h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #dbdbdb;
    background: #fafafa;
}

.login-box button {
    width: 100%;
    padding: 10px;
    border-radius: 999px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.login-box button:first-of-type {
    background: #b2d1ff;
    color: #fff;
    font-weight: bold;
}

.forgot {
    display: block;
    margin: 15px 0;
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

.or {
    margin: 15px 0;
    font-size: 14px;
    color: #8e8e8e;
}

.fb {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-weight: bold;
}

.signup {
    background: #fff;
    border: 1px solid #b2d1ff;
    color: #1877f2;
    font-weight: bold;
}

.meta {
    margin-top: 25px;
    font-size: 14px;
    color: #8e8e8e;
}
.footer{
    padding:40px 20px;
    font-size:12px;
    color:#8e8e8e;
    text-align:center;
    border-top: 1px solid #dbdbdb;
}

.footer-links{
    margin-bottom:15px;
}

.footer-links a{
    color:#8e8e8e;
    margin:0 8px;
    text-decoration:none;
}

.footer-links a:hover {
    text-decoration: underline;
}
    .footer-bottom span {
        margin: 0 10px;
    }
